#
# apiRestGenerator - https://github.com//api-rest-generator.git
#
# Copyright (c) 2020 
#

# Jetbrains Editors
.idea/
*.iml

# Node & NPM
node_modules/
npm-debug.log

# JSDoc
jsdoc/
apidoc/

# Settings
settings.*.json
